$main-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$main-white-color: #ffffff;
$white-bg-color: #f5f5f5;
$sub-bg-color: #2f303a;
$logo-fullblack-color: #000000;
$main-logo-color: #afb1b8;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);